 {% extends 'SymprodTemplates/base.html.twig' %}

{% block title %}Bienvenue sur le meilleur site de location {% endblock %}
{% block body %}
 <div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur SymProd</h1>
        <p class="lead">Nous mettons en relation des locations d'appartements sur ce site afin
        de vous montrer les nouveautés</p>
        <hr class="my-4">
        <p>Vous êtes passionné de vacances ? Ce site est fait pour vous !</p>
        <p class="lead">
            <a href="" class="btn btn-primary btn-lg" role="button">Voir les appartements</a>   
        </p>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos produits stars</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-heeder text-center">
                    appart 1, <strong>250 / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image d'une appartement"
                style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">appartement de ouf !</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Quidem labore facere adipisci vero recusandae fuga sunt pariatur 
                        libero id, nobis, quibusdam esse ullam iusto assumenda asperiores 
                        tempora laudantium maiores consectetur.
                    </p>
                    <a href="" class="btn btn-info">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-heeder text-center">
                    Appartement, <strong>250 / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image d'une Appartement"
                style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">Appartement de ouf !</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Quidem labore facere adipisci vero recusandae fuga sunt pariatur 
                        libero id, nobis, quibusdam esse ullam iusto assumenda asperiores 
                        tempora laudantium maiores consectetur.
                    </p>
                    <a href="" class="btn btn-info">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-heeder text-center">
                    Appartement, <strong>250 / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image d'une Appartement"
                style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">Appartement de ouf !</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Quidem labore facere adipisci vero recusandae fuga sunt pariatur 
                        libero id, nobis, quibusdam esse ullam iusto assumenda asperiores 
                        tempora laudantium maiores consectetur.
                    </p>
                    <a href="" class="btn btn-info">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos Acheteurs stars</h2>

    <div class="row">
        <div class="col">
            <div class="card border-info mb-3">
                <div class="card-body">
                    <h4 class="card-title">Cindy</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="image de Cindy" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, officia?</p>
                        <a href="" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>    
        <div class="col">
            <div class="card border-info mb-3">
                <div class="card-body">
                    <h4 class="card-title">Cindy</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="image de Cindy" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, officia?</p>
                        <a href="" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>    
    </div>

 </div>
    

{% endblock %}