{% extends 'base.html.twig' %}

{% block title %} Modification du password {% endblock %}

{% block body %}

<div class="container">
    <h1>Modifier votre password ici </h1>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregister les Modifications </button>

    {{ form_end(form) }}
</div>

{% endblock %}