{% extends 'base.html.twig' %}

{% block title %} Modification du profil {% endblock %}

{% block body %}

<div class="container">
    <h1>Modifier votre profil ici </h1>
    <center>
        <div class="col-6 text-center">
            {{ form_row(form.plainPassword, {
                    label: 'Password'
            }) }}

            <button type="submit" class="btn btn-success">Enregister les Modifications </button>
        </div>
    </center>
</div>

{% endblock %}