{% extends 'base.html.twig' %}

{% block title %} Modification du mot de passe {% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Modifier votre profil ici </h1>
    <center>
        <div class="col-6 text-center">
            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button type="submit" class="btn btn-success rounded">Enregister les Modifications </button>
            {{ form_end(form) }}
        </div>
    </center>
</div>

{% endblock %}