<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ChaProd - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        
        {% include 'ChadprodTemplates/partials/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'ChadprodTemplates/partials/footer.html.twig' %}

        <script src="../public/js/boostrap.min.js"></script>
        <script src="../public/js/jquery.min.js"></script>
        <script src="../public/js/popper.min.js"></script>
        {% block javascripts %} {% endblock %}
    </body>
</html>
